<!DOCTYPE html>
<html>
  <head>
    <title>ParkPages</title>
    <script src="https://use.fontawesome.com/e98884b8e2.js"></script>
    <link rel='icon' href='/images/favicon.ico' >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC0cXHP9XEBnnyy4BH9gSyhtoDSNE8bY9I" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
